In [261]:
%config IPCompleter.greedy=True
import os
import pandas as pd
from datetime import datetime
import numpy as np
import math

print(os.getcwd())

/Users/christopherballenger/Documents/Data Science/6372_Project2_HOF

In [235]:
Batters = pd.read_csv("data/Batters.csv")

# drop no at bat apperances
Batters = Batters.drop(Batters[Batters.Batting_AB==0].index)
# Drop nulls
Batters = Batters.dropna(subset = ['finalGame','debut','Batting_AB','Batting_H'] )
Batters.reset_index(drop=True)

Batters.head()

,playerID,HallOfFame_years_on_ballot,HallOfFame_max_ballots_cast,HallOfFame_max_needed,HallOfFame_max_votes,HallOfFame_inducted,birthYear,birthMonth,birthDay,birthCountry,...,Awards_NLCSMVP,Awards_ALCSMVP,Awards_SilverSluger,Awards_BranchRickeyAward,Awards_HankAaronAward,Awards_TSNReliverOfTheYear,Awards_ComebackPlayerOfTheYear,Awards_OutstandingDHAward,Awards_RelieverOfTheYear,AllstarGames
0,aardsda01,0,0,0,0,N,1981,12,27,USA,...,0,0,0,0,0,0,0,0,0,0
1,aaronha01,1,415,312,406,Y,1934,2,5,USA,...,0,0,0,0,0,0,0,0,0,24
2,aaronto01,0,0,0,0,N,1939,8,5,USA,...,0,0,0,0,0,0,0,0,0,0
3,aasedo01,0,0,0,0,N,1954,9,8,USA,...,0,0,0,0,0,0,0,0,0,1
4,abadan01,0,0,0,0,N,1972,8,25,USA,...,0,0,0,0,0,0,0,0,0,0

In [236]:
Batters.describe()

,HallOfFame_years_on_ballot,HallOfFame_max_ballots_cast,HallOfFame_max_needed,HallOfFame_max_votes,birthYear,birthMonth,birthDay,deathYear,deathMonth,deathDay,...,Awards_NLCSMVP,Awards_ALCSMVP,Awards_SilverSluger,Awards_BranchRickeyAward,Awards_HankAaronAward,Awards_TSNReliverOfTheYear,Awards_ComebackPlayerOfTheYear,Awards_OutstandingDHAward,Awards_RelieverOfTheYear,AllstarGames
count,16742.000000,16742.000000,16742.000000,16742.000000,16742.000000,16742.000000,16742.000000,8740.000000,8739.000000,8738.000000,...,16742.000000,16742.000000,16742.000000,16742.000000,16742.000000,16742.000000,16742.000000,16742.000000,16742.000000,16742.000000
mean,0.230438,26.427727,19.800263,3.485963,1914.581950,6.496356,15.196930,1963.678604,6.489530,15.591669,...,0.002449,0.002091,0.039780,0.001314,0.002150,0.001314,0.001374,0.000060,0.000119,0.236053
std,1.368599,102.227662,76.712093,31.633920,169.828874,3.539492,8.967568,31.891523,3.531271,8.787960,...,0.050622,0.046966,0.388404,0.036227,0.062752,0.042312,0.038619,0.007729,0.010929,1.099145
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1872.000000,1.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,1892.000000,3.000000,7.000000,1941.000000,3.000000,8.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,1931.000000,7.000000,15.000000,1966.000000,6.000000,15.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,0.000000,0.000000,1967.000000,10.000000,23.000000,1990.000000,10.000000,23.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,20.000000,581.000000,436.000000,555.000000,1996.000000,12.000000,31.000000,2017.000000,12.000000,31.000000,...,2.000000,2.000000,12.000000,1.000000,4.000000,3.000000,2.000000,1.000000,1.000000,24.000000

In [237]:
print(Batters.info(verbose=True))

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16742 entries, 0 to 18709
Data columns (total 106 columns):
playerID                                object
HallOfFame_years_on_ballot              int64
HallOfFame_max_ballots_cast             int64
HallOfFame_max_needed                   int64
HallOfFame_max_votes                    int64
HallOfFame_inducted                     object
birthYear                               int64
birthMonth                              int64
birthDay                                int64
birthCountry                            object
birthState                              object
birthCity                               object
deathYear                               float64
deathMonth                              float64
deathDay                                float64
deathCountry                            object
deathState                              object
deathCity                               object
nameFirst                               object
nameLast                                object
nameGiven                               object
weight                                  int64
height                                  int64
bats                                    object
throws                                  object
debut                                   object
finalGame                               object
retroID                                 object
bbrefID                                 object
Batting_total_seasons                   int64
Batting_total_teams                     int64
Batting_G                               int64
Batting_AB                              int64
Batting_R                               int64
Batting_H                               int64
Batting_2B                              int64
Batting_3B                              int64
Batting_HR                              int64
Batting_RBI                             int64
Batting_SB                              int64
Batting_CS                              int64
Batting_BB                              int64
Batting_SO                              int64
Batting_IBB                             int64
Batting_HBP                             int64
Batting_SH                              int64
Batting_SF                              int64
Batting_GIDP                            int64
Appearances_G_all                       int64
Appearances_GS                          int64
Appearances_G_batting                   int64
Appearances_G_defense                   int64
Appearances_G_p                         int64
Appearances_G_c                         int64
Appearances_G_1b                        int64
Appearances_G_2b                        int64
Appearances_G_3b                        int64
Appearances_G_ss                        int64
Appearances_G_lf                        int64
Appearances_G_cf                        int64
Appearances_G_rf                        int64
Appearances_G_of                        int64
Appearances_G_dh                        int64
Appearances_G_ph                        int64
Appearances_G_pr                        int64
Fielding_G                              int64
Fielding_GS                             int64
Fielding_InnOuts                        int64
Fielding_PO                             int64
Fielding_A                              int64
Fielding_E                              int64
Fielding_DP                             int64
Fielding_PB                             int64
Fielding_WP                             int64
Fielding_SB                             int64
Fielding_CS                             int64
Awards_PitchingTripleCrown              int64
Awards_TripleCrown                      int64
Awards_BaseballMagazineAllStar          int64
Awards_MostValuablePlayer               int64
Awards_TSNAllStar                       int64
Awards_TSNGuideMVP                      int64
Awards_TSNMajorLeaguePlayerOfTheYear    int64
Awards_TSNPitcherOfTheYear              int64
Awards_TSNPlayerOfTheYear               int64
Awards_RookieOfTheYear                  int64
Awards_BabeRuthAward                    int64
Awards_LouGehrigMemorialAward           int64
Awards_WorldSeriesMVP                   int64
Awards_CyYoungAward                     int64
Awards_GoldGlove                        int64
Awards_FiremanOfTheYear                 int64
Awards_AlLStarGameMVP                   int64
Awards_HutchAward                       int64
Awards_RobertoClemnteAward              int64
Awards_RolaidsReliefManAward            int64
Awards_NLCSMVP                          int64
Awards_ALCSMVP                          int64
Awards_SilverSluger                     int64
Awards_BranchRickeyAward                int64
Awards_HankAaronAward                   int64
Awards_TSNReliverOfTheYear              int64
Awards_ComebackPlayerOfTheYear          int64
Awards_OutstandingDHAward               int64
Awards_RelieverOfTheYear                int64
AllstarGames                            int64
dtypes: float64(3), int64(86), object(17)
memory usage: 13.7+ MB
None

In [238]:
# Identify players primary role
positions = ['Appearances_G_p', 'Appearances_G_c', 'Appearances_G_1b',
       'Appearances_G_2b', 'Appearances_G_3b', 'Appearances_G_ss',
       'Appearances_G_lf', 'Appearances_G_cf', 'Appearances_G_rf',
       'Appearances_G_of']

Batters['position'] = Batters[positions].idxmax(axis=1).str.slice(14)
Batters = Batters.drop(Batters[Batters.position == "p"].index)

# Counts do not match R, weird?
print(Batters[['playerID', 'position']].groupby(['position']).agg(['count']))

Batters = pd.concat([Batters, pd.get_dummies(Batters[['position']], prefix=['position'])], axis=1,sort=False)
Batters.head()

         playerID
            count
position
1b           1055
2b           1181
3b           1108
c            1814
cf            146
lf            226
of           3122
rf            220
ss           1098

,playerID,HallOfFame_years_on_ballot,HallOfFame_max_ballots_cast,HallOfFame_max_needed,HallOfFame_max_votes,HallOfFame_inducted,birthYear,birthMonth,birthDay,birthCountry,...,position,position_1b,position_2b,position_3b,position_c,position_cf,position_lf,position_of,position_rf,position_ss
1,aaronha01,1,415,312,406,Y,1934,2,5,USA,...,of,0,0,0,0,0,0,1,0,0
2,aaronto01,0,0,0,0,N,1939,8,5,USA,...,1b,1,0,0,0,0,0,0,0,0
4,abadan01,0,0,0,0,N,1972,8,25,USA,...,1b,1,0,0,0,0,0,0,0,0
6,abadijo01,0,0,0,0,N,1850,11,4,USA,...,1b,1,0,0,0,0,0,0,0,0
7,abbated01,0,0,0,0,N,1877,4,15,USA,...,2b,0,1,0,0,0,0,0,0,0

In [239]:
# Get Years
Batters['finalYear'] = pd.to_datetime(Batters.finalGame).dt.year
Batters['debutYear'] = pd.to_datetime(Batters.debut).dt.year

In [240]:
# Batting Stats
Batters['Batting_1B'] = Batters.Batting_H - Batters.Batting_2B - Batters.Batting_3B - Batters.Batting_HR
Batters['Batting_Average'] = Batters['Batting_H'] / Batters['Batting_AB']
Batters['Slugging'] = (1*Batters['Batting_1B'] + 2*Batters['Batting_2B'] + + 3*Batters['Batting_3B'] + 4*Batters['Batting_HR']) /  Batters['Batting_AB'] 
Batters['OPS'] = (Batters['Batting_H'] + Batters['Batting_BB'] + Batters['Batting_HBP']) / (Batters['Batting_AB'] + Batters['Batting_BB'] + Batters['Batting_HBP'] + Batters['Batting_SF'])
# Batters['OPSPlus'] - Can't Do because we need league OPS each year and Park factors Blah
Batters['ISO'] = Batters['Slugging'] - Batters['Batting_Average']
Batters['wOBA'] = (
    0.69*(Batters['Batting_BB']-Batters['Batting_IBB'])+
    0.722*Batters['Batting_HBP']+
    0.0888*Batters['Batting_1B']+
    1.271*Batters['Batting_2B']+
    1.616*Batters['Batting_3B']+
    2.101*Batters['Batting_HR']
)/(
    Batters['Batting_AB']+
    Batters['Batting_BB']-
    Batters['Batting_IBB']+
    Batters['Batting_SF']+
    Batters['Batting_HBP']
)

# Combine All Star Awards
Batters['TotalAllStarAwards'] = Batters.Awards_BaseballMagazineAllStar + Batters.Awards_TSNAllStar

Batters.describe()

,HallOfFame_years_on_ballot,HallOfFame_max_ballots_cast,HallOfFame_max_needed,HallOfFame_max_votes,birthYear,birthMonth,birthDay,deathYear,deathMonth,deathDay,...,position_ss,finalYear,debutYear,Batting_1B,Batting_Average,Slugging,OPS,ISO,wOBA,TotalAllStarAwards
count,9970.000000,9970.000000,9970.000000,9970.000000,9970.000000,9970.000000,9970.000000,5314.000000,5313.000000,5312.000000,...,9970.000000,9970.000000,9970.000000,9970.000000,9970.000000,9970.000000,9970.000000,9970.000000,9970.000000,9970.000000
mean,0.261585,29.331494,21.975426,3.888365,1906.930191,6.466098,15.034905,1961.465186,6.496518,15.644014,...,0.110130,1955.185356,1949.994985,262.569007,0.228637,0.318875,0.289207,0.090238,0.145985,0.216650
std,1.465208,107.012503,80.301746,32.961306,197.488625,3.587646,9.009429,32.865404,3.544473,8.772591,...,0.313068,43.648572,42.887933,402.714536,0.084394,0.132349,0.091977,0.072183,0.070258,1.389023
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1872.000000,1.000000,1.000000,...,0.000000,1871.000000,1871.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,1889.000000,3.000000,7.000000,1937.000000,3.000000,8.000000,...,0.000000,1916.000000,1913.000000,8.000000,0.206127,0.264476,0.262295,0.045872,0.111060,0.000000
50%,0.000000,0.000000,0.000000,0.000000,1927.000000,7.000000,15.000000,1964.000000,6.000000,15.000000,...,0.000000,1958.000000,1952.000000,66.000000,0.243212,0.333333,0.303617,0.084404,0.149179,0.000000
75%,0.000000,0.000000,0.000000,0.000000,1965.000000,10.000000,23.000000,1988.000000,10.000000,23.000000,...,0.000000,1996.000000,1989.000000,352.000000,0.267273,0.389109,0.333333,0.127490,0.185036,0.000000
max,20.000000,581.000000,436.000000,537.000000,1995.000000,12.000000,31.000000,2017.000000,12.000000,31.000000,...,1.000000,2016.000000,2016.000000,3215.000000,1.000000,3.000000,1.000000,2.000000,1.271000,32.000000

In [265]:
# Batters = Batters.drop(Batters[Batters.Batting_AB==0].index)

# Include only players with 10 years of baseball
result = Batters.drop(Batters[Batters.Batting_total_seasons<10].index)

#Include players whose last game was 5 years ago
result = result.drop(result[result.finalYear > 2011].index)
result.reset_index(drop=True)
print( result.shape )

n = result.shape[0]

msk = np.random.rand(len(result)) < 0.6

train = result[msk]
test = result[~msk]

print( train.shape )
print( test.shape )

(1856, 125)
(1073, 125)
(783, 125)